
Copy From Dropbox.bat
Copy To Dropbox.bat
GameData/AnimatedAttachment/Plugins/AnimatedAttachment.pdb
GameData/AnimatedAttachment/Plugins/Assembly-CSharp-firstpass.dll
GameData/AnimatedAttachment/Plugins/Assembly-CSharp.dll
GameData/AnimatedAttachment/Plugins/TDx.TDxInput.dll
GameData/AnimatedAttachment/Plugins/UnityEngine.dll
GameData/AnimatedAttachment/Plugins/UnityEngine.UI.dll
AnimatedAttachment/obj/Debug/AnimatedAttachment.csproj.CoreCompileInputs.cache
AnimatedAttachment/obj/Debug/AnimatedAttachment.csproj.FileListAbsolute.txt
AnimatedAttachment/obj/Debug/AnimatedAttachment.csprojResolveAssemblyReference.cache
AnimatedAttachment/obj/Debug/AnimatedAttachment.csproj.CoreCompileInputs.cache
AnimatedAttachment/obj/Debug/AnimatedAttachment.csproj.CoreCompileInputs.cache
AnimatedAttachment/obj/Debug/AnimatedAttachment.csproj.FileListAbsolute.txt
